In [1]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [3]:
pip instal pandas

Note: you may need to restart the kernel to use updated packages.

ERROR: unknown command "instal" - maybe you meant "install"

In [4]:
pip install pandas

Collecting pandas
  Downloading pandas-2.0.0-cp39-cp39-win_amd64.whl (11.3 MB)
Collecting tzdata>=2022.1
  Using cached tzdata-2023.3-py2.py3-none-any.whl (341 kB)
Collecting pytz>=2020.1
  Using cached pytz-2023.3-py2.py3-none-any.whl (502 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\oljar\pycharmprojects\jupiter_01\venv\lib\site-packages (from pandas) (2.8.2)
Collecting numpy>=1.20.3
  Downloading numpy-1.24.2-cp39-cp39-win_amd64.whl (14.9 MB)
Requirement already satisfied: six>=1.5 in c:\users\oljar\pycharmprojects\jupiter_01\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: tzdata, pytz, numpy, pandas
Successfully installed numpy-1.24.2 pandas-2.0.0 pytz-2023.3 tzdata-2023.3
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.1.2; however, version 23.1 is available.
You should consider upgrading via the 'c:\users\oljar\pycharmprojects\jupiter_01\venv\scripts\python.exe -m pip install --upgrade pip' command.

In [5]:
import pandas as pd

In [6]:
pd.options.display.float_fotmat='{:,.2f}'.format

OptionError: 'You can only set the value of existing options'

In [7]:
landtemps = pd.read_csv('dane/landtempssample.csv')

In [8]:
landtemps

,locationid,year,month,temp,latitude,longitude,stnelev,station,countryid,country
0,USS0010K01S,2000,4,5.27,39.9000,-110.7500,2773.7,INDIAN_CANYON,US,United States
1,CI000085406,1940,5,18.04,-18.3500,-70.3330,58.0,ARICA,CI,Chile
2,USC00036376,2013,12,6.22,34.3703,-91.1242,61.0,SAINT_CHARLES,US,United States
3,ASN00024002,1963,2,22.93,-34.2833,140.6000,65.5,BERRI_IRRIGATION,AS,Australia
4,ASN00028007,2001,11,NaN,-14.7803,143.5036,79.4,MUSGRAVE,AS,Australia
...,...,...,...,...,...,...,...,...,...,...
99995,MXXLT347415,1991,4,29.02,17.7800,-96.3100,65.0,VALLE_NACIONAL_VALLE,MX,Mexico
99996,RSM00032287,1991,11,-2.81,57.0800,156.7000,3.0,UST_HAIRYUZOVO,RS,Russia
99997,ARM00087166,1937,4,19.42,-27.4460,-58.7620,61.9,CORRIENTES,AR,Argentina
99998,CA006137361,1958,10,10.02,42.7833,-81.1667,236.0,ST_THOMAS,CA,Canada
99999,CA006137361,1966,1,-7.85,42.7833,-81.1667,236.0,ST_THOMAS,CA,Canada